
:root {
    /* Primary theme colors */
    --primary-bg: #ffffdd;   /* Teal */
    --secondary-bg: #728188; /* Aquamarine */
    --accent-bg: #e63946;    /* Red */
  
    /* Neutral colors */
    --light-bg: #f1faee;     /* Light gray */
    --dark-bg: #1d3557;      /* Dark blue */
    --text-color: #ffffff;   /* White text */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: darkgoldenrod;
}

.cover-sect {
    background-image: url('../assets/desk-bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
    .cs-info {
        height: 64vh;
        width: 80vw;
        padding: 5%;
    }
    .cs-info h2 {
        text-align: center;
        font-size: 4em;
        color: white; 
        text-shadow: 
          -1px -1px 0 black, 
           1px -1px 0 black, 
          -1px  1px 0 black, 
           2px  2px 0 black; 
    }
    .cs-info p {
        text-align: center;
        font-size: 2em;
        color: white; 
        text-shadow: 
          -1px -1px 0 black, 
           1px -1px 0 black, 
          -1px  1px 0 black, 
           2px  2px 0 black; 
        margin: 2%;
    }
    .cs-info h3 {
        text-align: center;
        font-size: 2em;
        color: white; 
        text-shadow: 
          -1px -1px 0 black, 
           1px -1px 0 black, 
          -1px  1px 0 black, 
           2px  2px 0 black; 
    }

.ppg-sect  {
    background-color: var(--primary-bg);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .ps-link {
        background-image: url('../assets/full-kiosk.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: 70vh;
        width: 60vw;
    }
    .ps-info {
        height: 70vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .ps-info p{
        text-align: center;
        font-size: 2em;
        color: rgb(0, 0, 0); 
        margin: 5px;
    }
    .code-image{
        background-image: url('../assets/code-image.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: 100%;
    }
    .code-image img{
        width: 100%;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }

.services-sect {
    background-color: var(--secondary-bg);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .win-treat {
        height: 80%;
        width: 40vw;
    }
        .ss-video {
            aspect-ratio: 16/9;
            width: 100%;
            height: auto;
        }
        .ss-video iframe {
            width: 100%;
            height: 100%;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
        }
    .wal-cover {
        height: 80%;
        width: 40vw;
    }
    .ss-link p{
        padding: 5%;
        text-align: center;
        font-size: 2em;
        color: rgb(0, 0, 0);
        margin: 5px;
    }

.about-us-sect {
    background-color: var(--primary-bg);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
}
    .aus-top {
        background-color: var(--secondary-bg);
        height: auto;
        width: 80vw;
        padding: 2%;
    }
    .aus-top h3, .aus-top p{
        text-align: center;
        font-size: 2em;
        color: rgb(0, 0, 0); /* White text color */
    }
    .aus-bot {
        height: auto;
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        padding: 20px;
    }
        .aus-prof  {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 20px 0;
        }
        .prof-photo {
            background-color: rgb(44, 151, 92);
            aspect-ratio: 1/1;
            width: 60%;
            margin: 20%;
            border-radius: 5%;
        }
        .aus-prof p {
            margin:  0 20%;
        }


/* ================== FONTS ====================== */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  